<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Aun No</title>
</head>
<body>
  <nav>
    <a href="/">Homepage</a>
    <a href="/profile">Profile</a>
    {{#if user.isAdmin}}
      <a href="/notas/students">Notas de los Estudiantes</a>
    {{/if}}
  </nav>
  {{{body}}}
</body>
</html>